# Don't commit a file from another project!
/Assets/Plugins/OSVR.ClientKit.*

# Don't commit binaries or files like them
/Assets/Plugins/x86/*
/Assets/Plugins/x86_64/*
/Assets/Plugins/Android/**/*
!/Assets/Plugins/Android/libs/armeabi-v7a/OsvrAndroidJNI.jar
/Assets/OSVRUnity/Plugins/*

# Don't commit your UnityVS stuff
/Assets/UnityVS.meta
/Assets/UnityVS/**/*

# See http://kleber-swf.com/the-definitive-gitignore-for-unity-projects/

# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db